* {
    box-sizing: border-box;
}

:root {
    --line-clamp: 2;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    /* height: 10100px; */
}

html,
body {
    scroll-behavior: smooth;
}

/* ============= common selectors ============== */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}

a {
    text-decoration: none;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.work-break {
    word-break: break-word;
}

.btn {
    display: inline-block;
    height: 50px;
    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px;
}

/* ============= Header ============== */
.header {
    position: sticky;
    top: -28px;
    z-index: 1;
    padding-top: 28px;
    background-color: #ffe395;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header .navbar ul {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 49px;
}

.header ul .link {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 8px 21px;
}

.header ul .link:hover {
    color: #171100;
    text-shadow: 0 0 1px currentColor;
}

.header ul .link:hover::after {
    content: "";
    position: absolute;
    left: 21px;
    bottom: 5px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background-color: #171100;
}

.header .btn {
    border-radius: 24.5px;
    min-width: 144px;
}

/* ============= Hero section ============== */
.hero-wrapper {
    padding: 56px 0 65px;
    background-color: #fffcf4;
    /* background-color: rgb(255, 161, 127); */
    /* margin-bottom: 1000px; */
}

.hero-wrapper .content {
    display: flex;
}

.hero-wrapper .img-block {
    width: 49%;
    position: relative;
}

.hero-wrapper .text-block {
    width: 51%;
}

.hero-wrapper .img-block .image {
    display: block;
    margin-right: auto;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

/* ====== floating card ====== */
.floating-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
}

.floating-card .row {
    display: flex;
    align-items: center;
}

.floating-card .row .icon {
    display: flex;
    width: 48px;
    height: 48px;
    margin-left: 24px;
    border-radius: 50%;
    background-color: #beb4ff;
}

.floating-card .row:nth-child(1) .icon {
    background-color: #fff9e8;
}
.floating-card .row:nth-child(2) .icon {
    background-color: #fcefff;
}
.floating-card .row:nth-child(3) .icon {
    background-color: #ebeaff;
}

.floating-card .row img {
    margin: auto;
    width: 24px;
    height: 24px;
}

.floating-card .row .info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 16px;
    height: 56px;
}

.floating-card .info .course-count {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
}

.floating-card .info .course-topic {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ====== text block ====== */
.hero-wrapper .text-block {
    /* width: 470px;
    height: 558px; no need to set height and width */

    /* 128px: margin-top in figma
    56px: hero-wrapper's padding-top
    8px: navbar's padding-bottom */
    /* margin-top: calc(128px - 56px - 8px);
    margin-left: 130px; should use padding rather than margin */
    padding-top: calc(128px - 56px - 8px);
    padding-left: 130px;
}

.hero-wrapper .text-block .title {
    color: #171100;
    font-family: "Sen";
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -0.02rem;
}

.hero-wrapper .text-block .desc {
    /* common */
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero-wrapper .text-block p.desc {
    margin-top: 22px;
}

/* ====== cta block ====== */
.hero-wrapper .cta-block {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-wrapper .cta-block .btn {
    width: 180px;
    height: 64px;
    border-radius: 32px;
    background: #ffb900;
    font-size: 1.8rem;
    line-height: 64px;
}

.cta-block .watch-video {
    display: flex;
    align-items: center;
    border: none;
    font-family: inherit;
    background-color: #fffcf4;
    cursor: pointer;
    margin-left: 20px;
}

.cta-block .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
}

.cta-block .watch-video > span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

/* ====== Stats block ====== */
.hero-wrapper .text-block .engagement.desc {
    display: block;
    margin-top: 48px;
}

.hero-wrapper .stats {
    display: flex;
    gap: 0 28px;
    margin-top: 8px;
}

.hero-wrapper .stats > div {
    display: flex;
    align-items: baseline;
    gap: 0 16px;
}

.hero-wrapper .stats .number {
    color: #171100;
    font-family: sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
}

/* ============= Course section ============== */
.courses {
    padding: 65px 0;
    margin-top: 135px;
}

.courses .first-row {
    display: flex;
}

.courses .heading-and-desc {
    width: 458px;
}

.courses .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02rem;
}

.courses .first-row .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* === Chevron left, right === */
.courses .control {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0 18px;
}

.courses .control .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    color: #ffb900;
    border-radius: 50%;
    border: 1px solid #ffb900;
    background-color: #fff;
    cursor: pointer;
}

.courses .control .button:hover {
    color: #fff;
    background-color: #ffb900;
}

/* ====== Course row ====== */
.courses .row {
    margin-top: 55px;
    display: flex;
    gap: 0 30px;
}

.courses .row .item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.courses .row .item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 18px 36px 0px #0000000d;
}

.courses .row .image-wrapper .image {
    /* very important - 100% will make the image expand to fill the container */
    width: calc(100% + 2px);
    /* the image is enclosed by the 1px-border of the item, make it look ugly. 
    So to solve this, we add 2px to the image's width AND then add a margin of -1px */
    margin: -1px;

    /* translate: -1px -1px; */ /* cách 2 */
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    background: lightgray 50% / cover no-repeat;
}

/* body of the item */
.courses .row .info {
    padding: 16px 22px 22px;
}

.courses .row .info .title-and-rating {
    display: flex;
}

.courses .row .info .title a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.courses .info .star-and-rating {
    display: flex;
    align-items: center;
    gap: 0 6px;
    margin-left: auto;
}

.courses .info .star-and-rating .rating {
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75;
}

.courses .info .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    line-height: 1.86;
}

.courses .price-and-btn {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .price-and-btn .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.courses .price-and-btn .btn {
    width: 118px;
    font-size: 1.4rem;
}

.courses .price-and-btn .btn:hover {
    background: #ffb900;
    transition: 0.2s;
}

/* ============= feedback section ============== */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background: #2e2100;
}

.feedback .feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
}

.feedback .feedback-item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .feedback-item .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.42;
}

.feedback .info .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback .dots {
    display: flex;
    margin-top: 28px;
    gap: 0 6px;
}

.feedback .dots .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}

.feedback .dots .dot.active {
    background: #ffb900;
    cursor: default;
}

.feedback .feedback-content .icon {
    margin-left: -30px;
}

.feedback .feedback-content .desc {
    position: relative;
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

/* ============= Outcomes section ============== */
.outcomes-section {
    margin-top: 135px;
    padding: 65px 0;
}

.outcomes-section .content {
    display: flex;
    justify-content: space-between;
    height: 438px;
}

.outcomes-section .text-block {
    width: 42%;
    display: flex;
    align-items: center;
}

/* ==== img-block ==== */
.outcomes-section .img-block {
    width: 49%;
    position: relative;
}

.outcomes-section .img-block .image {
    position: absolute;
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.outcomes-section .img-block .image:first-child {
    left: 0;
    bottom: 0;
}

.outcomes-section .img-block .image:last-child {
    right: 0;
    top: 0;
}

/* ==== text-block ==== */
.outcomes-section .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; /* 126.316% */
    letter-spacing: -0.02rem;
    margin-bottom: 16px;
}

.outcomes-section .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}

.outcomes-section .btn {
    margin-top: 32px;
    width: 137px;
    border-radius: 26px;
    background: #ffb900;
}

/* ============= below outcomes section ============== */
.below-outcomes {
    padding: 65px 0;
    margin-top: 70px;
}

.below-outcomes .content {
    display: flex;
    justify-content: space-between;
}

.below-outcomes .text-block {
    width: 49.2%;
    display: flex;
    align-items: center;
}

.below-outcomes .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.02rem;
}

.below-outcomes .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    line-height: 1.75;
}

.below-outcomes .btn {
    margin-top: 32px;
    width: 137px;
    border-radius: 26px;
    background: #ffb900;
}

.below-outcomes .image {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ============= Blog section ============== */
.blog {
    padding: 96px 0;
    margin-top: 135px;
    background: #fffcf4;
}

.blog-header {
    text-align: center;
}

.blog-header .title {
    color: #130606;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
}

.blog-header .desc {
    margin: auto;
    margin-top: 16px;
    width: 448px;
    color: #696262;
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog .blog-list {
    margin-top: 55px;
    display: flex;
    gap: 0 30px;
    overflow: hidden;
}

.blog-item {
    width: calc((100% - 60px) / 3);
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
}

.blog-item:hover {
    box-shadow: 0px 16px 32px 0px #0000000d;
}

.blog .blog-item .image {
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}

.blog .info {
    padding: 20px 20px 28px;
}

.blog-item .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffb900;
}

.blog-item .date {
    margin-left: 10px;
    padding-bottom: 12px;
    color: #5f5b53;
    font-size: 1.4rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.blog-item .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: -27px;
    bottom: 0;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog-item .title {
    margin-top: 25px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog-item .btn {
    margin-top: 12px;
    width: 118px;
    border-radius: 25px;
    background: #171100;
    font-size: 1.4rem;
}

.blog-item .btn:hover {
    background: #ffb900;
    transition: 0.2s;
}

/* 3 dots  */
.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    gap: 0 6px;
}

.blog .dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #5f5b53;
    cursor: pointer;
}

.blog .dot.active {
    background-color: #ffb900;
    cursor: default;
}
